/* General Styles */

body {
  font-family: 'Lobster', cursive;
  background: url(https://source.unsplash.com/collection/638440/) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #fff
}

.container {
  max-width: none;
}

.soho-background {
  background: url(../assets/soho/soho.jpg) no-repeat center center fixed;
}

.greenwhich-background {
  background: url(../assets/greenwhich/greenwhich.jpg) no-repeat center center fixed;
  background-size: 1500px;
}

.container {
  min-width: 1;
}

h1 {
  filter: drop-shadow(0px 0px 10px #000);
  font-size: 42pt;
  text-align: center;
}

/* Buttons */

.btn {
  font-weight: 300;
  font-size: 14pt;
  letter-spacing: 0.05em;
}

/* Neighborhood Colors */

.neighborhoodBtn {
  min-width: 150px;
  min-height: 75px;
  border-radius: 15px;
  background-color: transparent;
  color: #fff;
  border: 1pt solid white;
  filter: drop-shadow(0px 0px 10px #000);
}

.neighborhoodBtn span {
  opacity: 1;
}

.neighborhoodBtn:active {
  background-color: #fff !important;
  border-color: #fff !important;
}

.neighborhoodBtn:hover {
  background-color: #fff;
  color: #000;
}

.soho {
  background: rgba(255, 146, 121, 0.7); 
}

.sohoBtn:hover {
  background-color: #FF9279;
  color: #fff;
}

.greenwhich {
  background: rgba(236, 220, 92, 0.7); 
}

.greenwhichBtn:hover {
  background-color: #F0E26F;
  color: #fff;
}

.east {
  background: rgba(125, 217, 123, 0.7);
}

.eastBtn:hover {
  background-color: #7DD97B;
  color: #fff;
}

.midtown {
  background: rgba(98, 194, 232, 0.7); 
}

.midtownBtn:hover {
  background-color: #62C2E8;
  color: #fff;
}

.upper {
  background: rgb(187, 109, 223, 0.7)
}

.upperBtn:hover {
  background-color: #BB6DDF;  
  color: #fff;
}

.brooklyn {
  background: rgb(255, 110, 153, 0.7)
}

.brooklynBtn:hover {
  background-color: #FF6E99;
  color: #fff;
}

/* .soho {
  background-color: #FF9279
}

.greenwhich {
  background-color: #FFE68C
}

.east {
  background-color: #88ED87
}

.midtown {
  background-color: #62C2E8
}

.upper {
  background-color: #BB6DDF
}

.brooklyn {
  background-color: #FF6E99
} */

/* Menu */
.menu {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

/* Headers */
.header {
  margin: auto;
  width: 100%;
}

.tagline {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 21pt;
  font-weight: 100;
  filter: drop-shadow(0px 0px 10px #000);
}

.page-title {
  font-size: 5vw;
}

/* The Overlay (background) */
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */    
  height: 100%;
  width: 0;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(0,0,0); /* Black fallback color */
  background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 10%; /* 10% from the top */
  width: 100%; /* 100% width */
  text-align: center; /* Centered text/links */
  margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block; /* Display block instead of inline */
  transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

.overlay-content a{
  background-color: transparent;
}

.overlay-content .soho:hover {
  color: #FF9279;
}

.overlay-content .greenwhich:hover {
  color: #F0E26F;
}

.overlay-content .east:hover {
  color: #7DD97B;
}

.overlay-content .midtown:hover {
  color: #62C2E8;
}

.overlay-content .upper:hover {
  color: #BB6DDF;
}

.overlay-content .brooklyn:hover {
  color: #FF6E99;
}

.navbar-toggler {
  color: #fff;
  /* position: absolute; */
  font-size: 3vw;
}

.navbar-col {
  /* position: absolute; */
}

/* cards */
.card-row .col-md-4 {
  margin-bottom: 20px;
}

.card {
  color: #000;
  border-radius: 20px;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 12pt;
  /* height: 600px; */
}

.card-text{ 
  font-style: italic;
}

.card-title {
  font-family: 'Lobster', cursive;
  font-size: 21pt;
}

.card-img-top {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.card .btn {
  border-radius: 10px;
  color: #fff;
  font-family: 'Lobster', cursive;
  font-size: 14pt;
}

.card-info a{
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 14pt;
}

.fa-map-marker-alt {
  font-size: 1.5em;
}
